<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
  <display-name>Archetype Created Web Application</display-name>



  <context-param>
    <param-name>ADMIN_MAIL</param-name>
    <param-value>electrotehnic1@gmail.com</param-value>
  </context-param>



  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>main.controllers.HelloServlets</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>main.controllers.LoginServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>main.controllers.ListController</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AddEditStudentServlet</servlet-name>
    <servlet-class>main.controllers.AddEditStudentServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AddEditStudentServlet</servlet-name>
    <url-pattern>/addEditStudent</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/listStudents</url-pattern>
  </servlet-mapping>

  <filter-mapping>
    <filter-name>WhiteFilter</filter-name>
    <url-pattern>/listStudents</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>WhiteFilter</filter-name>
    <filter-class>main.controllers.filters.WhiteList</filter-class>
  </filter>
  
  <listener>
    <listener-class>main.controllers.listeners.MySessionListener</listener-class>
  </listener>
  
  <listener>
    <listener-class>main.controllers.listeners.AppStartListener</listener-class>
  </listener>

  <listener>
    <listener-class>main.controllers.listeners.StudentAddRequestListener</listener-class>
  </listener>

  
</web-app>
